.main {
   display: flex;
   flex-direction: column;
   width: 100vw;
   align-items: center;

   & .presentation {
      display: flex;
      width: 90%;
      margin: auto;
      padding-top: 40px;

      & .about {
         width: 150%;
         padding-bottom: 15px;
      }
      & .image {
         width: 90%;
         align-self: flex-end;
      }

      & h4 {
         padding-top: 30px;
         font-weight: 600;
         font-size: 6.4rem;
         font-family: "Exo 2", sans-serif;
      }

      & h3 {
         font-weight: 600;
         font-size: 9.6rem;
         font-family: "Exo 2", sans-serif;
      }

      & h6 {
         font-weight: 400;
         font-size: 3rem;
         font-family: "Exo 2", sans-serif;
         color: #613989;
      }

      & p {
         margin-top: 30px;
         font-size: 2.4rem;
         width: 90%;
      }
   }
   & .titulo {
      align-self: center;
      margin: 50px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & p {
         font-size: 3.6rem;
         font-weight: 600;
         color: #545454;
      }
      & div {
         width: 32rem;
         height: 5px;
         border-radius: 5px;
         background-color: #613989;
      }
   }
   & .projects {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      transform: translateX(45px);

      & a {
         & svg {
            width: 90px;
            fill: #613989;
            animation: arrow 1.5s infinite ease-in-out;
         }
      }
   }
   & .fotos {
      display: flex;
      max-width: 70%;
      margin-bottom: 50px;
      transform: translateX(45px);
      & img {
         border-radius: 25px;
      }
      & a {
         & svg {
            width: 90px;
            fill: #613989;
            animation: arrow 1.5s infinite ease-in-out;
         }
      }
   }
   & .links {
      display: flex;
      justify-content: center;
   }
}

@media only screen and (max-width: 600px) {
   .main {
      .presentation {
         flex-direction: column;
         align-items: center;
         width: 90%;
         padding-top: 10px;

         & .about {
            width: 100%;
         }
         & .image {
            width: 100%;
            padding: 0 20%;
         }

         & h4 {
            padding-top: 5px;
         }
      }
      & .projects {
         transform: translateX(0);
         & a {
            display: none;
         }
      }
      & .fotos {
         transform: translateX(0);
         & a {
            display: none;
         }
      }
   }
}

@media only screen and (min-width: 992px) {
   .presentation {
      width: 80%;
   }
}

@keyframes arrow {
   0% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(10px);
   }
   100% {
      transform: translateX(0);
   }
}
