.main {
   width: 100%;
   background-color: #333;
   overflow: hidden;
   text-align: center;

   & p {
      vertical-align: middle;
      padding-top: 15px;
      font-size: 3.6rem;
      font-weight: 600;
      color: #989898;
   }

   & .track {
      display: flex;
      align-items: center;
      gap: 70px;
      height: 140px;
      width: calc(140px * 26);
      overflow: hidden;
      align-items: center;
      perspective: 100px;
      animation: scroll 30s linear infinite;

      &:hover {
         animation-play-state: paused;
      }

      & .imageContainer {
         width: 70px;
         filter: grayscale(1) contrast(0.5);
         transition: transform 0.2s ease-in-out;

         &:hover {
            filter: grayscale(0) contrast(1);
            transform: scale(1.2);
         }
      }
   }
}

@media only screen and (max-width: 768px) {
   .main {
      & .track {
         height: 120px;
         & .imageContainer {
            width: 50px;
         }
      }
   }
}

@keyframes scroll {
   0% {
      transform: translateX(70px);
   }
   100% {
      transform: translateX(-70px * 13);
   }
}
